
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form action="~/User/Index" method="post">
    <input type="text" name="username" value="" placeholder="Username" />
    <input type="password" name="password" value="" placeholder="Password" />
    <button type="submit">Submit</button>
</form>

